<div class="prettyUpload">
    <a class="btn btn-default" data-role="browse-button">Browse</a>
    <a class="btn btn-primary disabled" data-role="upload-button">Upload</a>
    <span data-role="filename"></span>
</div>
<div class="progress" style="margin-top:5px; width:280px; margin-bottom:0;">
    <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" style="width: 0">
        <span data-role="statusMessage" />
    </div>
</div>
<input type="hidden" data-role="post-filelocation" name="{{postFileLocation}}" />